.login-table{
    box-shadow: 0px 0px 5px 0px rgba(33, 0, 64, 0.116), 0px 0px 2px 0px rgba(45, 1, 56, 0.404);
    width: 30rem;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    align-items: center;
    
    height:35rem;
    min-height: 200px;
    margin-top: 25vh;
    text-align: center;


    background-color: rgb(250, 248, 255);
}