.login-form{
  //  border: 1px solid black;






    &__header{
      font-size: 1.5vw;
        color: rgb(0, 0, 0);
        margin-bottom: 0;
    }
    &__paragraph{
      font-size: 1vw;
        color: rgb(0, 0, 0);
        margin-bottom: 0;
        font-weight: 400;
        margin-top: 10px;
    }
    &__hr{
      width: 75%;
      border: 1px solid rgba(0, 0, 0, 0.507);
    }
}

.empty-required-fields, input:invalid{
  border: 2px solid red !important;;
  box-shadow: 0px 0px 4px 1px rgba(82,1,1,0.63);
}