.button{
width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 2vw;

}

.button__sign-in{
background-color: rgb(139, 144, 206);
color: white;
outline: none;
border: none;
height: 4vw;
font-weight: 700;
}