.xx{
    height: 4vh;
    box-shadow: 0px 0px 4px 0px rgba(33,0,64,0.10), 0px 0px 2px 0px rgba(33,0,64,0.40);
    border-radius: 5px;
   border: none;
   outline: none !important;
}
.xx:active, .xx:focus{
    box-shadow: 0px 0px 5px 0px rgba(33,0,64,0.20), 0px 0px 2px 0px rgba(33,0,64,0.60);
}

.register-table{
    box-shadow: 0px 0px 4px 0px rgba(33,0,64,0.15), 0px 0px 2px 0px rgba(33,0,64,0.60);
    width: 25vw;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    align-items: center;
   // height: 40vh;
    min-height: 200px;
    margin-top: 15vh;
    text-align: center;
    padding: 40px 30px;
    background-color: rgba(212, 214, 228, 0.295);
}


.button{
    box-shadow: 0px 0px 4px 0px rgba(33,0,64,0.1), 0px 0px 2px 0px rgba(33,0,64,0.40);
    background-color: rgb(166, 171, 247);
outline: none;
border: none;
height: 4vw;
font-weight: 700;
} 
