

.register-table{
    box-shadow: 0px 0px 5px 0px rgba(33, 0, 64, 0.116), 0px 0px 2px 0px rgba(45, 1, 56, 0.404);
    width: 25vw;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-rows: 12;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 40rem;   
    margin-top: 15vh;
    text-align: center;
    padding: 40px 30px;
    background-color: white;
    justify-items: center;
}

.register-table__header-section{
    grid-column: 1/-1;
}

.register__button--sign-up{
    grid-column: 1/-1;
    grid-row: 9/ span 5;
    box-shadow: 0px 0px 4px 0px rgba(0, 46, 10, 0.336), 0px 0px 2px 0px rgba(1, 43, 8, 0.692);
    background-color: rgba(8, 34, 14, 0.925);
    outline: none;
    border: none;
    height: 3vw;
    margin-top: 1.2vw;
    width: 8vw;
    height: 2.5vw;
    cursor: pointer;
    font-weight: 700;
    color: rgb(238, 226, 226);
}

.register__button--back{
    grid-column: 1/-1;
    background-color: transparent;
    box-shadow: none;
    text-decoration: underline;
    outline: none;
    border: none;
    height: 2vw;
    cursor: pointer;
    font-weight: 700;
    }