
html{
    height: 100%;
}

body{
    background: linear-gradient(10deg, #9d3cf2 0%,#ff6f0f 100%);
    background-size: 200%;
    margin: 0;
    background-position: left;
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation{
    0%{
        background-position: left;
    }
    50%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}