
html{
    height: 100%;
}

body{
    background: linear-gradient(10deg,#3845ff 0%, #9b29ff 40%,#ff7315 100%);
    background-size: 300%;
    margin: 0;
    background-position: bottom;
    animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation{
    0%{
        background-position: left;
    }
    50%{
        background-position: bottom;
    }
    100%{
        background-position: right;
    }
}